* 
{
    padding: 0;
    margin: 0;
    border: 0;
}
/* Responsive layout - pc */
@media (min-width: 1180px) 
{
#header
{
	background-color: #A10;	
	border-width: 5px;
	border-style: dashed;
	border-color: #FFF;
}
#headlogo
{
	width: 100px;
	height: 100px;
}
#menuNavigation
{
	background-color: #F38;	
	border-width: 5px;
	border-style: solid;
	border-color: #015;
	display: flex;
	flex-flow: row;
}
.video
{
	width: 480px;
	height: 360px;
	padding-left: 30%;
	width: 67.8%;
	background-color: #A1CDF4;
	border-width: 1em;
	border-color: #F90; 
	border-style: solid; 
}
.flexParent
{
	background-color: #EEF4D4;
	display: flex;
	flex-wrap: wrap;
	width: 72.6%;
	border-width: 1em;
	border-color: #A30; 
	border-style: solid; 
	
}
#firstArticle
{
	background-color: #88F;
	flex-basis: 30%;
	flex-shrink: 1; 
	flex-grow: 1;
}
/*.firstArticleText
{
	
}*/
.imgFlex 
{
    width: 200px;
    float: right;
	position: relative;
	top: -30px;
	right: 30px;
	
}
figcaption 
{
    text-align: right;
	padding-top: 100px;
	position: relative;
	right: -150px;
}
.flexParent2
{
	background-color: #ff7f50;
	display: flex;
	flex-wrap: wrap;
	width: 72.6%;
	border-width: 1em;
	border-color: #F12; 
	border-style: solid;  
}
#secondArticle
{
	background-color: #ffeff3;
	flex-basis: 30%;
	flex-shrink: 1; 
	flex-grow: 1;
}
.flexParent3
{
	background-color: #EA9E8D;
	display: flex;
	flex-wrap: wrap;
	width: 72.6%;
	border-width: 1em;
	border-color: #C40; 
    border-style: solid;
}
#thirdArticle
{
	background-color: #b0e0e6;
	flex-basis: 30%;
	flex-shrink: 1; 
	flex-grow: 1;
}
.upcomingSection
{
	background-color: #8bc34a;
	border: solid;
	border-color: #000;
	position: absolute;
	top: 82%;
	right: 0;
	height: 100%;
	width: 25%;
}
.upcomingText
{
	text-align: left;
	padding: 30px;
}
#CookieStatement 
{

	background-color: #000;
	position: fixed;
	right: 0%;
	bottom: 0;
	width: 25%;
	color: #FFF;
	opacity: 50%;
	background-color: #FA0;
}
#cookieImg
{
	height: 2.8%;
	width: 1.4%;
	position: fixed;
	right: 15.5%;
	bottom: 0;
}
body 
{
    background-color: #FFCBDD;
}
}

/* Responsive layout - tablet */
@media (min-width: 481px) and (max-width: 1179px)
{
#header
{
	background-color: #A10;	
	border-width: 5px;
	border-style: dashed;
	border-color: #FFF;
}
#headlogo
{
	width: 100px;
	height: 100px;
}
#menuNavigation
{
	background-color: #F38;	
	border-width: 5px;
	border-style: solid;
	border-color: #015;
	display: flex;
	flex-flow: row;
}
.video
{
	width: 93%;
	background-color: #A1CDF4;
	border-width: 1em;
	border-color: #F65; 
	border-style: solid; 
	position: relative;
	top: 333px;

}
.videoFormat
{
	width: 450px;
	height: 300px;
}
.flexParent
{
	background-color: #EEF4D4;
	display: flex;
	flex-wrap: wrap;
	width: 72.6%;
	border-width: 1em;
	border-color: #A30; 
	border-style: solid; 
	
}
#firstArticle
{
	background-color: #88F;
	flex-wrap: wrap;
	flex-basis: 30%;
	flex-shrink: 1; 
	flex-grow: 1;
}
.imgFlex 
{
    width: 200px;
    float: right;
	position: relative;
	top: -30px;
	right: 30px;
	
}
figcaption 
{
    text-align: right;
	padding-top: 100px;
	position: relative;
	right: -150px;
}
.flexParent2
{
	background-color: #ff7f50;
	display: flex;
	flex-wrap: wrap;
	width: 72.6%;
	border-width: 1em;
	border-color: #F12; 
	border-style: solid;  
}
#secondArticle
{
	background-color: #ffeff3;
	flex-basis: 30%;
	flex-shrink: 1; 
	flex-grow: 1;
}
.flexParent3
{
	background-color: #EA9E8D;
	display: flex;
	flex-wrap: wrap;
	width: 72.6%;
	border-width: 1em;
	border-color: #C40; 
    border-style: solid;
}
#thirdArticle
{
	background-color: #b0e0e6;
	flex-basis: 30%;
	flex-shrink: 1; 
	flex-grow: 1;
}
.upcomingSection
{
	background-color: #8bc34a;
	border: solid;
	border-color: #000;
	position: absolute;
	bottom: 25%;
	right: 0;
	height: 47%;
	width: 100%;
}
.upcomingText
{
	text-align: left;
	padding: 20px;
	padding-right: 40px;
}
#CookieStatement 
{

	background-color: #000;
	position: fixed;
	right: 0%;
	bottom: 0;
	width: 25%;
	color: #FFF;
	opacity: 50%;
	background-color: #FA0;
}
#cookieImg
{
	height: 2.8%;
	width: 1.4%;
	position: fixed;
	right: 15.5%;
	bottom: 0;
}
body 
{
    background-color: #FFCBDD;
}
}
}
/* Responsive layout - mobile */  /* eventueel max-device-width*/ 
@media (max-width: 480px) 
{
  body 
  {
    background-color: #7C0B2B;
  }
  /* img floatoing; Mobile: under the article and image is centred with margin.   */
}
