/* Responsive layout - pc */
@media (min-width: 1180px) 
{
   #headlogo
  {
	  width: 100px;
	  height: 100px;
  }
  .video
  {
	  background-color: #A1CDF4
  }

  .firstArticleSection
  {
	  background-color: #EEF4D4;
  }
  .secondArticleSection
  {
	  background-color: #DAEFB3;
  }
    .thirdArticleSection
  {
	  background-color: #EA9E8D;
  }
  #ArticleImages
  {
	  width: 500px;
	  height: 250px;
  }
  body 
  {
    background-color: #FFCBDD;
  }
  /*img
  {
	  float: right;
  }
  */
  
}
/* Responsive layout - tablet */
@media (min-width: 481px) and (max-width: 1179px)
{
  body 
  {
    background-color: #FB4B4E;
  }
}
/* Responsive layout - mobile */
@media (max-width: 480px) 
{
  body 
  {
    background-color: #7C0B2B;
  }
  /* img floatoing; Mobile: under the article and image is centred with margin.   */
}
